# username is reserved in node environment
OSU_USERNAME=
OSU_PASSWORD=
API_KEY=
OSU_DIRECTORY=
# mostly for debugging purposes
# if this setting is set to true it will use the ids
# stored in beatmaps.txt so it doesn't have to retrieve
# all the beatmap ids from the api which might take a while
USE_LOCAL_BEATMAP_IDS=false
# leave empty for all difficulties
# example: 3.5
MINIMUM_DIFFICULTY=
# 0 = osu!
# 1 = Taiko
# 2 = CtB
# 3 = osu!mania
# leave empty for all modes
# example: 0,2
GAME_MODES=
# 4 = loved
# 3 = qualified
# 2 = approved
# 1 = ranked
# 0 = pending
# -1 = WIP
# -2 = graveyard
# leave empty for all statuses
# example: 1,2,3,4
STATUSES=
